.header__container {
  padding: 15px 50px !important;
  width: 100%;
}

.swiper-slide {
  width: 100%;
  height: 100%;
}

.swiper-slide img {
  width: 100%;
  object-fit: contain;
}

.swiper-pagination {
  position: relative !important;
  bottom: 0 !important;
}

.swiper-pagination .swiper-pagination-bullet {
  width: 22px;
  height: 3px;
  border-radius: 0;
}

.swiper-pagination .swiper-pagination-bullet-active {
  background: #000;
}

.brands__container {
  background: #f2fbff;
  padding: 40px 50px;
  margin-bottom: 40px;
}

.brands__container h1,
.testimonial__container h1,
.promotion__container h1 {
  font-size: 28px;
  margin-bottom: 12px;
}

/* BrandCard.css */

.brand__card {
  text-align: center;
}

.brand-name {
  margin-top: 10px;
}

.brand-discount {
  margin-top: 5px;
  font-weight: bold;
  text-transform: capitalize;
}

/* Promotion Styling */

.promotion__container {
  padding: 0 50px;
}

.promotion__img {
  width: 100%;
  margin-bottom: 40px;
}

.promotion__img img {
  width: 100%;
}

.promotion__swiper {
  padding: 6px 0 !important;
  margin-bottom: 40px;
}

/* Testimonial */

.testimonial__container {
  padding: 40px 50px;
}

/* Footer Styling */

.foundation__img {
  margin-bottom: 40px;
  padding: 0 5rem;
  width: 100%;

  display: flex;
  justify-content: center;
}

.foundation__img img {
  width: 100%;
}

footer {
  padding: 50px;
  background-color: #f9f9fb;
  border: 1px solid #e8e8e1;

  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.footer__content,
.footer__content ul {
  display: flex;
  flex-direction: column;
}

.footer__content {
  flex: 0 1 25%;
  max-width: 210px;

  letter-spacing: 0.025em;
}

.footer__content p {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 15px;
}

.footer__content ul {
  gap: 0;
  font-size: 15px;
  margin-bottom: 20px;
}

.footer__content li {
  padding: 4px 0;

  display: flex;
  align-items: center;
}

.footer__content-contact li {
  text-decoration: underline;
}

.footer__content-contact svg {
  font-size: 20px;
  margin-right: 10px;
}

.footer__content-social {
  flex-direction: row !important;
}

.footer__content-social svg {
  font-size: 21px;
  margin-right: 15px;
}

/* Responsiveness */

@media screen and (max-width: 1024px) {
  .brands__container,
  .promotion__container,
  .testimonial__container,
  .foundation__img {
    padding: 24px 12px;
  }

  .brands__container,
  .promotion__img,
  .promotion__swiper,
  .foundation__img {
    margin-bottom: 20px;
  }

  .brands__container h1,
  .testimonial__container h1,
  .promotion__container h1 {
    font-size: 24px;
    line-height: 36px;
  }

  .footer__content ul,
  .footer__content p {
    font-size: 14px;
  }
}

@media screen and (max-width: 768px) {
  .brands__container,
  .promotion__container,
  .testimonial__container,
  .foundation__img {
    padding: 12px 12px;
  }

  .brands__container h1,
  .testimonial__container h1,
  .promotion__container h1 {
    font-size: 18px;
    line-height: 36px;
  }

  .promotion__swiper {
    padding-right: 5rem !important;
  }

  footer {
    justify-content: start;

    padding: 30px 20px;
  }

  .footer__content {
    max-width: none;
    flex: 0 1 50%;
  }
}
