.dashboard-container {
  display: flex;
}

nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: white;
  padding: 10px 20px;
}

nav ul {
  display: flex;
  gap: 1.5rem;
  list-style: none;
  padding: 0;
  margin: 0;
}

nav a {
  color: #fff;
  text-decoration: none;
  font-size: 1.5rem;
  cursor: pointer;
}

nav a:hover {
  color: #b8d853;
}

@media screen and (max-width: 1024px) {
  nav a {
    font-size: 24px;
  }
}

@media screen and (max-width: 768px) {
  nav a {
    font-size: 18px;
  }

  nav a img {
    width: 120px;
  }
}
