@import url('https://fonts.googleapis.com/css2?family=Monomaniac+One&family=Rubik:wght@400;600;700;800;900&display=swap');

body {
  font-family: 'Monomaniac One', sans-serif;
  font-family: 'Rubik', sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.sub_heading {
  margin: 1rem 0;
  text-align: center;
}

.auth_container {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  width: 300px;
  margin: 2rem auto;
}

.auth_content {
  display: flex;
  flex-direction: column;

  gap: 0.5rem;
}

.auth_content input {
  padding: 8px 20px;
}

.auth_content button {
  background: #ef6c00;
}

.error {
  color: #9f1111;
}

/* Table.css */

.styled-table {
  max-width: 600px;
  min-width: 350px;
  border-collapse: collapse;
  border: 1px solid #ddd;
  margin: 20px auto;
}

.styled-table th,
.styled-table td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.styled-table th {
  background-color: #f2f2f2;
}

.styled-table tbody tr:hover {
  background-color: #f5f5f5;
}

/* Additional styles for responsiveness */
@media screen and (max-width: 600px) {
  .styled-table {
    border: 0;
  }

  .styled-table th,
  .styled-table td {
    display: block;
    padding: 8px;
    text-align: right;
  }

  .styled-table tbody tr {
    margin-bottom: 10px;
    display: block;
    border-bottom: 1px solid #ddd;
  }

  .styled-table tbody tr:last-child {
    margin-bottom: 0;
  }
}

/* Services.css */

.services-container {
  padding: 20px;
}

.service-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.sign_btn {
  align-items: center;
  background-color: #fa6400;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  color: #fff;
  cursor: pointer;

  padding: 10px 20px;
}

.flex_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.add_btn {
  background-color: #b8d853;
  box-shadow: rgba(44, 187, 99, 0.2) 0 -25px 18px -14px inset,
    rgba(44, 187, 99, 0.15) 0 1px 2px, rgba(44, 187, 99, 0.15) 0 2px 4px,
    rgba(44, 187, 99, 0.15) 0 4px 8px, rgba(44, 187, 99, 0.15) 0 8px 16px,
    rgba(44, 187, 99, 0.15) 0 16px 32px;
  color: green;
  border: 0;

  border-radius: 100px;
  text-align: center;
  font-size: 12px;

  padding: 7px 20px;
  width: 300px;

  cursor: pointer;
}

.delete_btn {
  background-color: #ffe7e7;
  border: 1px solid #fee0e0;
  border-radius: 11px;
  color: #d33a2c;
  cursor: pointer;
  font-size: 14px;
  font-weight: 700;
  padding: 5px 12px;
  text-align: left;
}

.delete_btn:active {
  background-color: #d33a2c;
  box-shadow: rgba(0, 0, 0, 0.12) 0 1px 3px 0 inset;
  color: #ffffff;
}

.delete_btn:hover {
  background-color: #ffe3e3;
  border-color: #faa4a4;
}

.edit_btn {
  background-color: #74ccf4;
  border: 1px solid #74ccf4;
  color: #0f5e9c;
  border-radius: 11px;

  font-size: 14px;
  font-weight: 700;
  text-align: left;

  padding: 5px 12px;
  margin: 0 5px;
  cursor: pointer;
}

.edit_btn:active {
  background-color: #0f5e9c;
  box-shadow: rgba(0, 0, 0, 0.12) 0 1px 3px 0 inset;
  color: #ffffff;
}

.edit_btn:hover {
  background-color: #74ccf4;
  border-color: #1ca3ec;
}
