*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.sub_heading{
    margin: 1rem 0;
    text-align: center;
}

.auth_container{
        display: flex;
        gap: 1rem;
        flex-direction: column;
        width: 300px;
        margin: 2rem auto;
}

.auth_content{
    display: flex;
    flex-direction: column;

    gap: 0.5rem;
}

.auth_content input {
    padding: 8px 20px;
}

.auth_content button {
    background: #ef6c00;
}

/* Table.css */

.styled-table {
    max-width: 500px;
    min-width: 350px;
    border-collapse: collapse;
    border: 1px solid #ddd;
    margin: 20px auto;
  }
  
  .styled-table th,
  .styled-table td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  .styled-table th {
    background-color: #f2f2f2;
  }
  
  .styled-table tbody tr:hover {
    background-color: #f5f5f5;
  }
  
  /* Additional styles for responsiveness */
  @media screen and (max-width: 600px) {
    .styled-table {
      border: 0;
    }
  
    .styled-table th,
    .styled-table td {
      display: block;
      padding: 8px;
      text-align: right;
    }
  
    .styled-table tbody tr {
      margin-bottom: 10px;
      display: block;
      border-bottom: 1px solid #ddd;
    }
  
    .styled-table tbody tr:last-child {
      margin-bottom: 0;
    }
  }

  /* Services.css */

.services-container {
    padding: 20px;
  }
  
  .service-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .sign_btn{
  align-items: center;
  background-color: #fa6400;
  border: 1px solid transparent;
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  color: #fff;
  cursor: pointer;

  padding: 10px 20px;
  }
  
  